.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.main{
  width: 100%;
  display: flex;
  justify-content: center;
}
.after-main{
  border: 2px solid black;
  width: 20%;
  height: 7em;
  display: flex;
}
.product-image{
width: 50%;
  border: 2px solid red;
}
.product-image-item{
  height: 100%;
  width: 100%;
}
.detail-main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.detail-first{
font-size: 1.2em;  
}
.action-icon{

  display: flex;
  margin:0 1em ;
  /* border: 2px solid blue; */
}
.icon{
  margin: 0.2em;
  height: 2em;
  width: 2em;
}
