body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main{
  width: 100%;
  /* display: flex; */
  justify-content: center;
}
.after-main{
  border: 2px solid black;
  width: 30%;
  height: 7em;
  display: flex;
}
.product-image{
width: 50%;
  border: 2px solid red;
}
.product-image-item{
  height: 100%;
  width: 100%;
}
.detail-main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.detail-first{
font-size: 1.2em;  
}
.action-icon{

  display: flex;
  margin:0 1em ;
  /* border: 2px solid blue; */
}
.icon{
  margin: 0.2em;
  height: 2em;
  width: 2em;
}

